.destations{
   max-width: 1110px;
   align-items: center;
}
    
.destations__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 100px 50px;
}
   
.destations__title{
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
}

.view-all__button{
    color: #FB8F1D;
    font-family: "Inter";
    font-size: 17px;
    font-weight: 600;
}

.view-all__button:hover, .view-all__button:focus, .view-all__link:active{
    opacity: .75;
}

.view-img{
    border-radius: 10px;
}



.destations__cards{
    display: flex;
    gap: 25px;
    
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    .destations__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .destations {
        align-items: center;
        padding: 60px 10%;
    }

    

    .destations__top {
        display: flex;
        flex-direction: column;
    }

    .destations__title {
        text-align: center;
    }

    .view-img {
        max-width: 100%;
    }
}


@media screen and (min-width: 769px) and (max-width: 1185px) {
    .destations__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }

    .pictures img {
        width: 100%;
        object-fit: cover;
    }
}





