.world{
    display: flex;
    align-items: center;
    background: #F8F8F8;
    margin-bottom: 129px;
    margin-top: 175px;
}

.world__explore{
    background: #F8F8F8;
    background-size: cover;
    width: 1600px;
    height: 774px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 78px
}

.worldd__info{
    width: 481px;
    font-family: "Playfair Display";
    display: flex;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    color: #000;
    margin-bottom: 20px;
    margin-top: 207px;
    margin-left: 102px;
}

.world__description{
    width: 450px;
    color: #7D7987;
    font-family: "Mulish";
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 39px;
    margin-left: 102px;
}

.world__foto{
    margin-top: 111px;
    margin-left: 141px;
}

.world__button{
    width: 164px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border-color: #FB8F1D;
    background-color: #FB8F1D;
    font-family: "Inter";
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    margin-top: 33px;
    margin-left: 102px;
}

.world__button:hover, .world__button:focus, .world__link:active{
    opacity: .75;
}
