.world{
    margin-top: 175px;
}

.world:first-child{
    margin-top: 120px;
}

.world__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.world__explore{
    max-width: 481px;
}

.world__foto{
    max-width: 50%;
    margin-bottom: 20px;
}

.world__info {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
}


.world__description{
    font-family: 'Mulish';
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: #7D7987;
    
}


.world__button{
    width: 164px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border-color: #FB8F1D;
    background-color: #FB8F1D;
    font-family: "Inter";
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    margin-top: 33px;
    margin-left: 0px;
}

.world__button:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.world__button:hover, .world__button:focus, .world__link:active{
    opacity: .75;
}

@media screen and (max-width: 768px) {
    .world {
        margin-top: 100px;
    }
}

@media screen and (max-width: 768px) {
    .world__container {
        flex-direction: column;
        /*padding: 10px 40px;*/
    }
}

@media screen and (max-width: 768px) {
    .world__explore {
        text-align: center;
        padding: 0 15px;
    }

    .world__info {
        text-align: center;
        
    }
}

@media screen and (max-width: 768px) {
    .world__foto {
        max-width: 65%;
        margin-top: 20px;
    }
}
