.catalog-objects {
    margin-bottom: 30px; 
    display: flex;
    flex-direction: column; 
}

.catalog-filters {
    margin-bottom: 20px; 
}

.objects-container {
    display: flex; 
    gap: 20px; 
}


