.button-apply-container {
    display: flex; 
    justify-content: center; 
    
}

.apply-button {
    background-color: #0b9b06;
    color: #fff;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 30px;
}

.apply-button:hover {
    background-color: #05be3a;
}
