.catalog-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.catalog-filters__types {
    display: flex;
    column-gap: 40px;
}

.filters__by-match,
.filters__by-date,
.filters__by-price {
    font-size: 17px;
    
}

.select {
    display: flex;
    flex-direction: column;
}

.select label {
    margin-top: 5px;
    color: #333;
}

